<div class="container-fluid d-flex flex-column h-100" #scrollMe>
  <div class="row">
    <div class="container">
      <div class="row mt-3" *ngIf="hasMore">
        <div class="col div-align-center">
          <button type="button" class="btn btn-secondary" (click)="getMessages(true)">
            Load more
          </button>
        </div>
      </div>
      <div class="row mt-3" *ngFor="let msg of messages">
        <div class="col" *ngIf="msg.userId !== user.id">
          <div class="row">
            <span class="badge badge-secondary">{{msg.userName}}</span>
          </div>
          <div class="row mt-1">
            <div class="col-9 chat-content">
              {{msg.message}}
            </div>
            <div class="col chat-message-date">
              {{msg.date | date:'MMM d, y, h:mm a'}}
            </div>
          </div>
        </div>
        <div class="col" *ngIf="msg.userId === user.id">
          <div class="row mt-1">
            <div class="col own-message-date">
              {{msg.date | date:'MMM d, y, h:mm a'}}
            </div>
            <div class="col-9 own-chat-content">
              {{msg.message}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 spacer-row"></div>
    </div>
  </div>
  <div class="row mt-auto pt-4 chat-send-btn">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-xs-auto mb-3">
          <textarea style="height:38px;max-height:150px;min-height:38px;" type="text" class="form-control" name="userName" [(ngModel)]="txtMessage" (keydown.enter)="sendMessage()" #userName="ngModel" ></textarea>
        </div>
        <div class="col">
          <button type="button" class="btn btn-block btn-primary" (click)="sendMessage()">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>