<div class="sidenav">
  <div class="login-main-text">
     <h1>Stack Messenger</h1>
     <h4>Simple & Reliable messaging</h4>
     <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form (ngSubmit)="createLogin()" #loginForm="ngForm" novalidate>
          <div class="form-group">
            <label class="label-color">Email</label>
            <input type="email" email class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required>
            <div class="alert alert-danger" [hidden]="email.pristine || email.valid">Valid email is required</div>
          </div>
          <div class="form-group">
            <label class="label-color">Display Name</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" #userName="ngModel" required>
            <div class="alert alert-danger" [hidden]="userName.pristine || userName.valid">Display name is required</div>
          </div>

          <div class="pull-right">
            <button type="submit" class="btn btn-block btn-success" [disabled]="loginForm.pristine || !loginForm.valid || isLoading">
              <div *ngIf="isLoading; else elseBlock">
                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              </div>
              <ng-template #elseBlock>Log In</ng-template>
            </button>
          </div>
        </form>
     </div>
  </div>
</div>